POSTGRES_DB=db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

NATS_URI=nats://nats:4222

PUBLIC_HOST=127.0.0.1

PUBLIC_GAME_LAUNCH_URL=mygame://join?host={host}&port={port}&token={token}
DOWNLOADS_FOLDER="./data/downloads"
